/* Product List Container */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Space around the cards for even spacing */
  gap: 20px; /* Adds gap between items for better readability */
  padding: 20px;
}

/* Responsive product list adjustments */
@media (max-width: 768px) {
  .product-list {
    justify-content: center; /* Center cards on smaller screens */
    gap: 15px; /* Reduce gap for mobile */
  }
}

@media (max-width: 480px) {
  .product-list {
    padding: 10px; /* Reduced padding for very small screens */
    gap: 10px; /* Tighter spacing for small screens */
  }
}

/* Header Styling */
.Header {
  color: #4a148c; /* Modern purple for a rich tone */
  font-size: 2em; /* Increased font size for more impact */
  font-weight: bold; /* Bold font for emphasis */
  text-align: center; /* Centered header */
  /* margin-bottom: 30px; */
   /* Spacing between header and content */
  text-transform: uppercase; /* Optional: Converts text to uppercase */
  letter-spacing: 1.5px; /* Adds letter spacing for style */
margin-top: 2%;
}

/* Responsive Header adjustments */
@media (max-width: 768px) {
  .Header {
    font-size: 2em; /* Slightly smaller font size for tablets */
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .Header {
    font-size: 1.8em; /* Smaller font size for mobile */
    margin-bottom: 15px; /* Tighter spacing */
  }
}
